body {
    display: flex;
    flex-direction: column;
    background-image: url(/galaxy-3468.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
    background: none;
}